a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #3EAEF4;
    ;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.breadcrumb-item a {
    font-weight: 700;
}

.breadcrumb-item.active {
    color: #1380c4;
}

.info a,
.company-name-detail a {
    color: #333;
}

.info a:hover,
.company-name-detail a:hover {
    color: #1380c4;
}

.active>.page-link,
.page-link.active {
    background-color: #3EAEF4;
    border-color: #3EAEF4;
}

.page-link {
    border-color: #3EAEF4;
}

.dropdown-menu-field {
    column-count: 3;
    column-gap: 1rem;
}
