.sort-dropdown .btn-dropdown:hover {
    background-color: #fff;
    color: #3EAEF4;
    border: 1px solid #3EAEF4;
}

.btn-dropdown {
    cursor: pointer;
    background-color: #fff;
    color: #3EAEF4;
    border: 1px solid #3EAEF4;
}

.sort-dropdown .dropdown .btn-dropdown.show {
    color: #3EAEF4;
    background-color: #fff;
    border: 1px solid #3EAEF4;
}

.filter-container {
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.sort-dropdown button {
    background-color: #fff;
    border: 1px solid #3EAEF4;
    color: #000;
    padding: 8px;
    width: 100%;
    text-align: left;
    border-radius: 4px;
}

.filter-section h3 {
    font-size: 18px;
    color: #3EAEF4;
    margin-top: 16px;
    font-weight: bold;
    padding: 8px 0;
}

.clear-filter {
    background-color: #3EAEF4;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
}

.line {
    border: 0;
    height: 2px;
    background-color: #3EAEF4;
    margin: 16px 0;
}

.rating-section .btn-dropdown,
.verification-section .btn-dropdown,
.field-section .btn-dropdown {
    color: #3EAEF4;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.btn-dropdown:hover,
.btn-dropdown:focus,
.btn-dropdown:active,
.btn-dropdown:focus-visible {
    color: #3EAEF4;
}

.form-check {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.form-check-input {
    margin-right: 8px;
}

.form-check-label {
    color: #333;
}

.form-check-label span {
    color: gold;
    font-size: 26px;
}


.pagination .page-item .page-link.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

/*  */

.search-bar-field {
    display: flex;
    align-items: center;
    border: 1px solid #3EAEF4;
    border-radius: 12px;
    padding: 0 0px 0 12px;
    width: 300px;
    margin: 20px 0;
    padding: 5px;
}

.search-bar-field input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #555;
}

.search-bar-field button {
    background: none;
    border: none;
    cursor: pointer;
    color: #3EAEF4;
    font-size: 16px;
}

.search-bar-field button:focus {
    outline: none;
}
